<div class="axis" aria-hidden="true">
  <span>{{ axis()[0] }}</span><span>{{ axis()[1] }}</span><span>{{ axis()[2] }}</span>
</div>
<svg
  class="chart"
  [attr.viewBox]="'0 0 ' + chart().w + ' ' + chart().h"
  role="img"
  [attr.aria-label]="label()"
>
  <line
    class="mid"
    [attr.x1]="0"
    [attr.x2]="chart().w"
    [attr.y1]="chart().midY"
    [attr.y2]="chart().midY"
  />
  @for (x of chart().midnights; track $index) {
    <line class="day" [attr.x1]="x" [attr.x2]="x" [attr.y1]="0" [attr.y2]="chart().h" />
  }
  @for (day of chart().dayLabels; track $index) {
    <text class="day-name" [attr.x]="day.x" [attr.y]="chart().h - 3">{{ day.text }}</text>
  }
  @if (chart().dots.length > 1) {
    <path class="line" [attr.d]="linePath()" />
  }
  @for (dot of chart().dots; track $index) {
    <circle class="dot score-{{ dot.level }}" [attr.cx]="dot.cx" [attr.cy]="dot.cy" r="3.5" />
  }
</svg>
<p class="caption">{{ caption() }}</p>
