<svg
  class="chart"
  [attr.viewBox]="'0 0 ' + chart().w + ' ' + chart().h"
  role="img"
  [attr.aria-label]="label()"
>
  <line
    class="mid"
    [attr.x1]="chart().axisX + 6"
    [attr.x2]="chart().w"
    [attr.y1]="chart().levelY[1]"
    [attr.y2]="chart().levelY[1]"
  />
  @for (x of chart().midnights; track $index) {
    <line class="day" [attr.x1]="x" [attr.x2]="x" [attr.y1]="0" [attr.y2]="chart().h" />
  }
  @for (day of chart().dayLabels; track $index) {
    <text class="day-name" [attr.x]="day.x" [attr.y]="chart().h - 3">{{ day.text }}</text>
  }
  @for (word of axis(); track $index) {
    <text class="axis-word" [attr.x]="chart().axisX" [attr.y]="chart().levelY[$index]">
      {{ word }}
    </text>
  }
  @if (chart().dots.length > 1) {
    <path class="line" [attr.d]="linePath()" />
  }
  @for (dot of chart().dots; track $index) {
    <circle class="dot score-{{ dot.level }}" [attr.cx]="dot.cx" [attr.cy]="dot.cy" r="3.5" />
  }
</svg>
<p class="caption">{{ caption() }}</p>
